{% extends 'base.html' %}
{% block content %}
  {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
  {% else %}
    <h1>Add Reaction</h1>
    <p class="center-align">'Reactions' will be implemented soon! Feel free to add a reaction in the mean time. Stay tuned for future enhancements. </p>
  {% endif %}
  <form action="" method="post">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Submit!" class="btn">
  </form>
{% endblock %}
