* {
    font-family: 'Lato', sans-serif;
    color: black;
}

nav {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow: hidden !important;
   
}

.card {
    background-color: #a8d3dd !important;
    color: rgb(246, 245, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px !important;
}

img {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul a:hover {
    color: #1976d2;

}

#show:hover {
    color: #1976d2 !important;
}

#tube:hover {
    color: #e0f7fa !important;
}


body {
    background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
    background-size: 300% 300%;
    -webkit-animation: Background 25s ease infinite;
    -moz-animation: Background 25s ease infinite;
    animation: Background 25s ease infinite;

}

@-webkit-keyframes Background {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes Background {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@keyframes Background {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

.full-screen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('https://i.imgur.com/wCG2csZ.png');
    background-size: auto;
    background-position: center;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;/* works with row or column */

    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #fff;
    font-weight: 800;
    font-size: 4em;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
}

#indexdes{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
}

.button-line {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    font-size: 1.4em;
    opacity: .8;
    padding: 20px 40px;
    text-decoration: none;
    transition: all 0.5s ease;
    margin: 0 auto;
    display: block;
    width: 100px;
}

.button-line:hover {
    opacity: 1;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #1797d2 !important;
}
button {
    background-color: #349c98;
    border-radius: 6px;
}
button > a {
    color: #e0f7fa;
   
}

#commentbtn{
    
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 5px;
}

.posttitle{
display: flex;
justify-content: center;


}
#detaildescription{
    margin: 15px;

}


#toppost{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#postbtn{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#leavecommentbtn{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

thead {
    background-color: #7d9eb7;
}

tr:nth-child(even) {
    background-color: #1976d2;
}

#userdate{
display: flex;
justify-content: end;
padding-right: 10px;
padding-bottom: 15px;
}

#indexvid{
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
   
    #48ff00,
    #15544a,
    #002bff,
    #7a00ff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #349c98;
  left: 0;
  top: 0;
  border-radius: 10px;
}


  