{% extends 'base.html' %}
{% block content %}
<div class="card">
    {{ post.title }}
    <iframe width="560" height="315" src="{{ post.youtube_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a href="{% url 'post_update' post.id %}">Update</a>
    <a href="{% url 'post_delete' post.id %}">Delete</a>
    <ul>
        {% for comment in comments %}
        <li>
            {{ comment.content }}
            <a href="{% url 'comment_update' post.id comment.id %}">Update</a>
            <a href="{% url 'comment_delete' post.id comment.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
    <form action="{% url 'comment' post.id %}" method="POST">
        {% csrf_token %}
        <input id="content" type="text" name="content">
        <input type="submit" value="Leave a comment">
    </form>
</div>

{% endblock %}
